<?xml version="1.0" ?>

  <robot xmlns:xacro="http://wiki.ros.org/xacro" name="r2c_full_body" >

  <link name="world"/>

  <property name="robot_name" value= "/r2/" />

<!--  transforms in first joint don't seem to work properly-->
  <joint name="${robot_name}fixed/world/robot_world" type="fixed">
    <parent link="world"/>
    <child link="${robot_name}robot_world"/>
    <origin rpy="0 0 0.0" xyz="0.0 0.0 0.0"/>
  </joint>

  <xacro:include filename="$(find r2_description)/robots/r2c_full_body_no_world.urdf.xacro" />
  <xacro:robot_base_origin>
    <origin xyz="0 0 1.4" rpy="0 0 0" />
  </xacro:robot_base_origin>


</robot>
