<launch>
    <include file="$(find r2_gazebo)/launch/main.launch">
        <arg name="i_control" value="True"/>
        <arg name="gui" value="False"/>
    </include>
    <node name="interactive" pkg="r2_teleop" type="r2_interactive_control.py" output="screen"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    </include>
    <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" output="screen"/>
    <node name="interactive_marker_proxy" pkg="interactive_marker_proxy" type="proxy" output="screen">
     <remap from="topic_ns" type="str" to="/r2_interactive_control" />
     <remap from="target_frame" to="r2/robot_world" />
    </node>
</launch>
