#!/usr/bin/env python
PACKAGE = "r2_dynamic_reconfigure"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# TODO: Setting min/max to 0/100, but should use real values
# gen.add(name, type, level, description, default, min, max)

gen.add("includeWaistJacobian", str_t, 0, "Include Waist in Jacobian", "0.0")

exit(gen.generate(PACKAGE, "includeWaistJacobianServer", "includeWaistJacobian"))
