#!/usr/bin/env python
PACKAGE = "r2_dynamic_reconfigure"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# TODO: Setting min/max to 0/100, but should use real values
# gen.add(name, type, level, description, default, min, max)

gen.add("left_xyz", str_t, 0, "Task Node Left XYZ", "2018.0")
gen.add("left_rpy", str_t, 0, "Task Node Left RPY", "-2018.0")
gen.add("right_xyz", str_t, 0, "Task Node Right XYZ", "2053.0")
gen.add("right_rpy", str_t, 0, "Task Node Right RPY", "-2053.0")
gen.add("spare_xyzrpy", str_t, 0, "Task Node Spare XYZRPY", "0.0")

exit(gen.generate(PACKAGE, "taskNodesServer", "taskNodes"))
