<?xml version="1.0"?>
<robot>

  <macro name="gazebo_link" params="name gravityOff static collide">
     <gazebo reference="${name}">
        <selfCollide>${collide}</selfCollide>
        <static>${static}</static>
        <turnGravityOff>${gravityOff}</turnGravityOff>
     </gazebo>
  </macro>

  <macro name="gazebo_joint" params="name">
     <gazebo reference="${name}">
        <stopKd value="1.0" />
        <stopKp value="1000000.0" />
     </gazebo>
  </macro>

  <gazebo_link name="waist_center" gravityOff="false" static="false" collide="false"/>
  <gazebo_joint name="waist/j0"/>

  <gazebo_link name="left_shoulder_roll"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_shoulder_pitch" gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_upper_arm"      gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_elbow"          gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_lower_arm"      gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_wrist_pitch"    gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_wrist_yaw"      gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_palm"           gravityOff="false" static="false" collide="false"/>
  
  <gazebo_joint name="left/j0"/>
  <gazebo_joint name="left/j1"/>
  <gazebo_joint name="left/j2"/>
  <gazebo_joint name="left/j3"/>
  <gazebo_joint name="left/j4"/>
  <gazebo_joint name="left/j5"/>
  <gazebo_joint name="left/j6"/>

  <gazebo_link name="left_thumb_base"          gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_thumb_medial_prime"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_thumb_medial"        gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_thumb_distal"        gravityOff="false" static="false" collide="false"/>

  <gazebo_link name="left_index_base"      gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_index_proximal"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_index_medial"    gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_index_distal"    gravityOff="false" static="false" collide="false"/>

  <gazebo_link name="left_middle_base"      gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_middle_proximal"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_middle_medial"    gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_middle_distal"    gravityOff="false" static="false" collide="false"/>

  <gazebo_link name="left_ring_proximal"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_ring_medial"    gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_ring_distal"    gravityOff="false" static="false" collide="false"/>

  <gazebo_link name="left_little_proximal"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_little_medial"    gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="left_little_distal"    gravityOff="false" static="false" collide="false"/>


  <gazebo_link name="right_shoulder_roll"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_shoulder_pitch" gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_upper_arm"      gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_elbow"          gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_lower_arm"      gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_wrist_pitch"    gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_wrist_yaw"      gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_palm"           gravityOff="false" static="false" collide="false"/>

  <gazebo_joint name="right/j0"/>
  <gazebo_joint name="right/j1"/>
  <gazebo_joint name="right/j2"/>
  <gazebo_joint name="right/j3"/>
  <gazebo_joint name="right/j4"/>
  <gazebo_joint name="right/j5"/>
  <gazebo_joint name="right/j6"/>

  <gazebo_link name="right_thumb_base"          gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_thumb_medial_prime"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_thumb_medial"        gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_thumb_distal"        gravityOff="false" static="false" collide="false"/>

  <gazebo_link name="right_index_base"      gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_index_proximal"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_index_medial"    gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_index_distal"    gravityOff="false" static="false" collide="false"/>

  <gazebo_link name="right_middle_base"      gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_middle_proximal"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_middle_medial"    gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_middle_distal"    gravityOff="false" static="false" collide="false"/>

  <gazebo_link name="right_ring_proximal"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_ring_medial"    gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_ring_distal"    gravityOff="false" static="false" collide="false"/>

  <gazebo_link name="right_little_proximal"  gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_little_medial"    gravityOff="false" static="false" collide="false"/>
  <gazebo_link name="right_little_distal"    gravityOff="false" static="false" collide="false"/>


  <gazebo_link name="neck_base"         gravityOff="false" static="false" collide="false"/>
  <gazebo_joint name="neck/j0"/>
  <gazebo_link name="neck_lower_pitch"  gravityOff="false" static="false" collide="false"/>
  <gazebo_joint name="neck/j0"/>
  <gazebo_link name="neck_roll"         gravityOff="false" static="false" collide="false"/>
  <gazebo_joint name="neck/j0"/>

</robot>
